<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meridian.voiceofislam">

    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Accessing camera hardware -->

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".VoiceOfIslamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/apps_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sidebar.ListMp3" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".audioplayer.NotificationService" />

        <activity
            android:name=".videoaudioupload.Loginfragment"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.AboutUs"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.Contact"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".videoaudioupload.Vis_Upload_Activity" />
        <activity
            android:name=".Login"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Feedback"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>